h1 {padding-left:30pt; padding-right:30pt; color:blue;}
h2 {padding-left:30pt; padding-right:30pt; color: blueviolet;}
h3 {padding-left:30pt; padding-right:30pt; color: blueviolet;}
p {padding-left:30pt; padding-right:30pt;}
#germany {background-color:lightcoral;}
#uk  {background-color:aquamarine;}
#korea  {background-color:lightgreen;}
#russia  {background-color:silver;}
#afghan  {background-color:sandybrown;}
#index {background-color:khaki;}
.image {padding-left:30pt; padding-right:30pt;}
.links {padding-left:30pt; padding-right:30pt;}